@import './burger-menu.css';
@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  background-color: #eeeeee;
  font-family: 'Karla', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.custom-bar {
  height: 150px;
  background-image: url('https://via.placeholder.com/350x150');
  background-size: 100% 100%;
}

.map {
  & > div {
    height: 550px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
  }
}

.modal-zindex {
  z-index: 12345;
}

.leaflet-container {
  background: #d2dcbe;
}

