@import './reset.css';

body {
  background-color: #eeeeee;
}

.app {
  display: flex;
  flex-direction: column;
}

.controls {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__button {
    cursor: pointer;
    flex: 33.3333%;
    height: 200px;
    text-align: center;
    &:hover {
      background-color: #dddddd;
    }
  }
}

.ReactModal {
  &__Overlay {
    z-index: 16777216;
    transition: opacity 500ms ease-in-out;
    opacity: 0;

    &--after-open {
      opacity: 1;
    }

    &--before-close {
      opacity: 0;
    }
  }

  &__Content {
    transition: all 500ms ease-in-out;
    transform: translateY(30px);
    opacity: 0;

    &--after-open {
      opacity: 1;
      transform: translateY(0);
    }

    &--before-close {
      opacity: 0;
      transform: translateY(30px);
    }
  }
}

.map {
  & > div {
    height: 300px;
    text-align: center;
  }
}

