@import './reset.css';

body {
  background-color: #eeeeee;
}

.app {
  display: flex;
  flex-direction: column;
}

.controls {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__button {
    cursor: pointer;
    flex: 33.3333%;
    height: 100px;
    text-align: center;
    &:hover {
      background-color: #dddddd;
    }
  }
}

.map {
  & > div {
    height: 300px;
    text-align: center;
  }
}

