@import './reset.css';

body {
  background-color: #eeeeee;
}

.app {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
  &__button {
    lost-column: 1/3;
    cursor: pointer;
    height: 100px;
    /* pointer-events: none; */
    text-align: center;
    &:hover {
      background-color: #dddddd;
    }
  }
}

.ReactModal__Overlay {
  z-index: 16777216;
}

.map {
  & > div {
    height: 300px;
    text-align: center;
  }
}

