@import './reset.css';
@import './burger-menu.css';

body {
  background-color: #eeeeee;
}

.app {
  display: flex;
  flex-direction: column;
}

.map {
  & > div {
    height: 600px;
    text-align: center;
  }
}

.leaflet-container {
  background: #d2dcbe;
}

